/* ------------------------------ */
/* 		Registration Style		  */
/* ------------------------------ */



/* ------------------------------ */
/* 			 Content			  */
/* ------------------------------ */
#main_container #content{
	clear:both;
	float:left;
	width:950px;
	position:relative;
	margin:5px 0 0 0;
	padding:5px;
	background-color:#000;
	border:#7f7a83 1px solid;
	color:#CCCCCC;
	z-index:1100;
}

#main_container #content #pageinfo{
	width:600px;
	clear:both;
	float:left;
}

#main_container #content #registerblock{
	width:600px;
	clear:both;
	float:left;
}


#form_container {
	clear:both;
	float:left;
	width:500px;
}

#form_container .field {
	clear:both;
	float:left;
	margin:5px 0 0 0;
}


#form_container .field label {
	clear:both;
	float:left;
	width:180px;
}


#submit {
	clear:both;
	float:left;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 10px;
	margin-left: 200px;
	margin-right: 0px;
	margin-top: 20px;
	
}


input[type="submit"]{


}
